.vscode/settings.json
Backend/admin.dat
Backend/customer.dat
Backend/shop_information.dat
Backend/customer.dat
Backend/admin.dat
Backend/shop_information.dat
beautifultable/__pycache__/__version__.cpython-310.pyc
beautifultable/__pycache__/__init__.cpython-310.pyc
beautifultable/__pycache__/ansi.cpython-310.pyc
beautifultable/__pycache__/base.cpython-310.pyc
beautifultable/__pycache__/beautifultable.cpython-310.pyc
beautifultable/__pycache__/compat.cpython-310.pyc
beautifultable/__pycache__/enums.cpython-310.pyc
beautifultable/__pycache__/helpers.cpython-310.pyc
beautifultable/__pycache__/meta.cpython-310.pyc
beautifultable/__pycache__/styles.cpython-310.pyc
beautifultable/__pycache__/utils.cpython-310.pyc
modules/__pycache__/__init__.cpython-310.pyc
modules/__pycache__/billing.cpython-310.pyc
modules/__pycache__/login.cpython-310.pyc
modules/__pycache__/Info_doc.cpython-310.pyc
modules/__pycache__/mysql_init.cpython-310.pyc
modules/__pycache__/mysql_project.cpython-310.pyc
modules/__pycache__/register.cpython-310.pyc
modules/__pycache__/settings.cpython-310.pyc
modules/__pycache__/stocks.cpython-310.pyc
